[SddmGreeterTheme]
Name=solarized-sddm-theme
Description=Solarized theme for SDDM
Author=Hyacinthe Cartiaux
Website=https://github.com/hcartiaux/solarized_sddm_theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.2.0
ConfigFile=theme.conf
Screenshot=solarized_sddm_theme.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-API=2.0
Theme-Id=solarized-sddm-theme
QtVersion=6
